.head .color{
    display: grid;
    background-color: #90ee90;
    grid-template-rows:  2fr 3fr 4fr;
    grid-template-columns: 1fr  ;
    
}
.color{
    border: 1px solid blue;
    padding: 20px;
    display: grid;
}